@charset "UTF-8";
/*keyframes des animations*/
@keyframes container {
  0% {
    opacity: 1;
  }
  98% {
    opacity: 0.9;
  }
  99% {
    opacity: 0.95;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7em);
  }
}
@keyframes menu {
  0% {
    transform: translateY(2em);
    opacity: 0;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes check {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes cloche {
  0% {
    width: 0;
  }
  100% {
    width: 10em;
  }
}
@font-face {
  font-family: "robotoregular";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/shrikhand-v6-latin-regular.ttf") format("truetype");
}
@font-face {
  font-family: "robotobold";
  src: url("../fonts/Roboto-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("../fonts/Roboto-Light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "robotoregular", arial, "sans serif";
}

body, html {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  text-align: center;
}

#logo {
  width: 47%;
  padding: 4em 0em 1em 0em;
}
@media screen and (min-width: 1024px) {
  #logo {
    width: 35%;
    padding-top: 1.5em;
  }
}
@media screen and (min-width: 2500px) {
  #logo {
    width: 23%;
  }
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}
@media screen and (min-width: 1024px) {
  footer {
    align-items: center;
  }
}
footer img {
  width: 17em;
  margin: 3em 0em 0em 5em;
}
@media screen and (min-width: 1024px) {
  footer img {
    width: 23em;
    margin: 1em 0em 0em 0em;
  }
}
footer a {
  color: white;
}
footer ul {
  list-style-type: none;
  font-size: 2.7em;
}
@media screen and (min-width: 1024px) {
  footer ul {
    display: flex;
    font-size: 1.8em;
    padding: 0;
    margin-top: 0;
  }
}
@media screen and (min-width: 2560px) {
  footer ul {
    font-size: 2.8em;
  }
}
footer li {
  margin: 0em 0em 0.3em 1em;
}
@media screen and (min-width: 1024px) {
  footer li {
    margin: 1em 1em 0.3em 1em;
    padding-right: 1em;
    border-right: 2px solid white;
    text-align: left;
  }
}

.fa-hands-helping:before {
  margin-right: 0.55em;
}

.fa-utensils:before {
  margin-right: 1em;
}

.h1--font {
  font-family: "Shrikhand", "impact";
  font-size: 4.3em;
  padding: 0.8em 0em 0em 0.6em;
  margin-bottom: 0em;
}
@media screen and (min-width: 1024px) {
  .h1--font {
    font-size: 3.3em;
    text-align: center;
    padding: 0.8em 0em 1em 0em;
    width: 100%;
  }
}
@media screen and (min-width: 2500px) {
  .h1--font {
    width: 100%;
    text-align: left;
    padding: 0.5em 0em 0em 1em;
    margin: 0;
    color: #FF79DA;
  }
}

#map {
  background-color: #EAEAEA;
  box-shadow: inset 0 3px 5px -5px #2c2c2c;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.9em;
}
@media screen and (min-width: 1024px) {
  #map {
    font-size: 1.9em;
    height: 2em;
  }
}
#map p {
  margin-left: 0.9em;
}

.btn {
  height: 2.7em;
  width: 13em;
  border-radius: 4.5em 4.5em 4.5em 4.5em;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 3em;
  border: white;
  margin: 0.9em 0em 2.9em 0em;
  box-shadow: 0em 0.4em 0.9em -0.5em #2c2c2c;
  margin-bottom: 1em;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 2500px) {
  .btn {
    font-size: 2.3em;
  }
}
.btn:hover {
  height: 2.7em;
  width: 13em;
  border-radius: 4.5em 4.5em 4.5em 4.5em;
  background: linear-gradient(#FAAFE5, #A77ED9);
  color: white;
  font-size: 3em;
  border: white;
  margin: 0.9em 0em 2.9em 0em;
  box-shadow: 0em 1.5em 1.9em -0.8em #2c2c2c;
  cursor: pointer;
  margin-bottom: 1em;
}
@media screen and (min-width: 1024px) {
  .btn:hover {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 2500px) {
  .btn:hover {
    font-size: 2.3em;
  }
}

.menu__button {
  text-align: center;
  margin: 4em 0em 0em 0em;
  margin: auto;
}

#presentation {
  background-color: #F6F6F6;
}
#presentation h1 {
  font-size: 3.5em;
  padding: 1em 3em 0em 3em;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  #presentation h1 {
    font-size: 2.5em;
  }
}
#presentation p {
  color: #7E7E7E;
  font-size: 1.91em;
  margin: 1em 1.9em 0em 1.9em;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
nav h2 {
  font-size: 3.5em;
  left: 1em;
  align-self: flex-start;
  margin: 1.5em 0em 0.5em 1em;
}
@media screen and (min-width: 1024px) {
  nav h2 {
    width: 100%;
    font-size: 1.8em;
  }
}

.nav__fonctionnement {
  height: 5em;
  width: 21em;
  box-shadow: 0.2em 0.5em 1em #cecece;
  background: #F6F6F6;
  border-radius: 1.1em;
  margin: 1em 0em 1em 0em;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: "robotobold";
}
.nav__fonctionnement:hover {
  background-color: #f5edff;
}
@media screen and (min-width: 1024px) {
  .nav__fonctionnement {
    width: 30%;
    font-size: 1em;
    position: relative;
    justify-content: center;
  }
}
@media screen and (min-width: 2500px) {
  .nav__fonctionnement {
    font-size: 2em;
  }
}
.nav__fonctionnement i {
  margin: 0em 1em 0em 1.7em;
  color: #7E7E7E;
  font-size: 1.3em;
}
@media screen and (min-width: 1024px) {
  .nav__fonctionnement i {
    margin: 0em 0.5em 0em 0.7em;
  }
}

.number {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1.2em;
}
@media screen and (min-width: 1024px) {
  .number {
    top: -1em;
    left: 50%;
  }
}

#accueil {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 8em;
  margin: 9em 0em -6em 0em;
}
@media screen and (min-width: 1024px) {
  #accueil {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2em 0em -9em 0em;
  }
}
#accueil h2 {
  font-size: 3.8em;
  left: 1em;
  align-self: flex-start;
  margin: 1.5em 0em 0.5em 1em;
}
@media screen and (min-width: 1024px) {
  #accueil h2 {
    width: 100%;
    margin: 0.2em 0em 0.2em 0em;
    text-align: center;
    font-size: 2.8em;
  }
}
#accueilimg {
  width: 20em;
}

.restaurant__card--tag {
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #189576;
  width: 5em;
  height: 2em;
  position: absolute;
  font-size: 2.5em;
  font-family: "robotobold";
  top: 0.8em;
  right: 0.8em;
  border-radius: 0.2em;
}
@media screen and (min-width: 1024px) {
  .restaurant__card--tag {
    font-size: 1em;
    height: 1.5em;
  }
}
@media screen and (min-width: 2500px) {
  .restaurant__card--tag {
    font-size: 2em;
  }
}

.restaurant__card {
  background-color: white;
  width: 90%;
  height: 41em;
  border-radius: 2.1em;
  margin: 1em 0em 3em 0em;
  box-shadow: 0.2em 0.4em 0.3em #EAEAEA;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .restaurant__card {
    width: 22%;
    height: 17em;
  }
}
@media screen and (min-width: 2560px) {
  .restaurant__card {
    width: 40%;
    height: 34em;
  }
}
.restaurant__card img {
  width: 100%;
  height: 28em;
  border-radius: 2.1em 2.1em 0em 0em;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .restaurant__card img {
    height: 11em;
  }
}
@media screen and (min-width: 2560px) {
  .restaurant__card img {
    height: 27em;
  }
}
.restaurant__card h3 {
  font-size: 3.5em;
  font-family: "robotobold";
  margin: 0.5em 0em 0em 0.8em;
}
@media screen and (min-width: 1024px) {
  .restaurant__card h3 {
    text-align: left;
    margin: 0em 0em -0.5em 0.3em;
    font-size: 1.5em;
  }
}
@media screen and (min-width: 2560px) {
  .restaurant__card h3 {
    font-size: 2.5em;
  }
}
.restaurant__card p {
  font-size: 2.7em;
  margin: -0.3em 0em 0em 1em;
}
@media screen and (min-width: 1024px) {
  .restaurant__card p {
    margin: 0em 0em 0em 0.5em;
    font-size: 1em;
  }
}
@media screen and (min-width: 2560px) {
  .restaurant__card p {
    font-size: 2em;
  }
}
.restaurant__card p a:visited {
  color: #7E7E7E;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

/*pages menu*/
@media screen and (min-width: 1024px) {
  article {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 33%;
  }
}
@media screen and (min-width: 2560px) {
  main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.coeurtitre {
  margin-left: 1.5em;
}

.fa-arrow-left:before {
  position: absolute;
  font-size: 3.5em;
  left: 2em;
  top: 1.3em;
}
@media screen and (min-width: 1024px) {
  .fa-arrow-left:before {
    top: 0.6em;
  }
}

main img {
  width: 100%;
  height: 48em;
  border-radius: 3em 3em 0em 0em;
  margin: 1em 0em -1em 0em;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  main img {
    height: 33em;
  }
}
@media screen and (min-width: 2560px) {
  main img {
    width: 41em;
    margin: 0em 2em 0em 2em;
    border-radius: 2em 2em 2em 2em;
    height: 44.5em;
  }
}

.section__menu {
  position: relative;
  background-color: #F6F6F6;
  width: 100%;
  border-radius: 7em 7em 0em 0em;
  margin-top: -12em;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .section__menu {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
@media screen and (min-width: 2500px) {
  .section__menu {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
    border-radius: 2em;
    margin-right: 2em;
    background-color: white;
  }
}
.section__menu h2 {
  font-family: "robotolight";
  font-size: 2.5em;
}
@media screen and (min-width: 1024px) {
  .section__menu h2 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 2560px) {
  .section__menu h2 {
    font-size: 1.8em;
  }
}

.menu__title {
  margin: 6em 0em 0em 3em;
}
@media screen and (min-width: 1024px) {
  .menu__title {
    margin: 0;
  }
}
.menu__title--underline {
  border-top: 9px solid #99E2D0;
  width: 6.5em;
  margin: -1.3em 0em 2em 0em;
}
@media screen and (min-width: 1024px) {
  .menu__title--underline {
    border-top: 3px solid #99E2D0;
    width: 3.8em;
  }
}

.menu__element {
  background-color: white;
  border-radius: 2.5em;
  box-shadow: 0.2em 0.5em 1em #cecece;
  width: 90%;
  margin: auto;
  margin-bottom: 2.5em;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (min-width: 1024px) {
  .menu__element {
    height: 6em;
    width: 96%;
    margin-bottom: 1em;
  }
}
.menu__element__texte {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .menu__element__texte {
    padding: 0.5em 0em 0.2em 0.7em;
  }
}
.menu__element__price {
  margin: 0em 1em 1em 0em;
  font-weight: bold;
  font-size: 2.5em;
}
@media screen and (min-width: 1024px) {
  .menu__element__price {
    font-size: 1.3em;
  }
}

.menu__element__description {
  display: flex;
  align-items: center;
}
.menu__element__description p {
  flex-grow: 1;
  font-size: 2.5em;
  margin: 0.2em 0em 0.8em 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "robotolight";
}
@media screen and (min-width: 1024px) {
  .menu__element__description p {
    font-size: 1em;
  }
}
@media screen and (min-width: 2560px) {
  .menu__element__description p {
    font-size: 1.5em;
  }
}

.menu__element__texte h3 {
  font-size: 2.8em;
  margin: 0em 0em 0em 0.5em;
  padding-top: 0.5em;
  font-family: "robotobold";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 1024px) {
  .menu__element__texte h3 {
    padding: 0em 0em 1.5em 0em;
    font-size: 1.3em;
  }
}
@media screen and (min-width: 2560px) {
  .menu__element__texte h3 {
    font-size: 1.7em;
  }
}

/*animations*/
/*coeur accueil*/
.coeur {
  position: absolute;
  right: 1em;
  bottom: 1.2em;
  font-size: 4.2em;
  color: #7e7e7e;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .coeur {
    right: 0.5em;
    bottom: 1em;
    font-size: 1.8em;
  }
}
@media screen and (min-width: 2560px) {
  .coeur {
    font-size: 2.8em;
  }
}

.coeur-plein {
  position: absolute;
  font-size: 4.2em;
  right: 1em;
  bottom: 1.2em;
  cursor: pointer;
  background-image: linear-gradient(10deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 100;
  opacity: 0;
  transition: opacity 400ms;
}
.coeur-plein:active {
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  .coeur-plein {
    right: 0.5em;
    bottom: 1em;
    font-size: 1.8em;
  }
}
@media screen and (min-width: 2560px) {
  .coeur-plein {
    font-size: 2.8em;
  }
}

/*coeur menu*/
.coeurmenu {
  position: absolute;
  right: 1.5em;
  top: 1em;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .coeurmenu {
    right: 50%;
    top: 0.5em;
  }
}
@media screen and (min-width: 2500px) {
  .coeurmenu {
    right: 1em;
  }
}

.coeur-pleinmenu {
  background-image: linear-gradient(10deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 100;
  opacity: 0;
  transition: opacity 400ms;
  position: absolute;
  right: 1.5em;
  top: 1em;
  cursor: pointer;
}
.coeur-pleinmenu:active {
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  .coeur-pleinmenu {
    right: 50%;
    top: 0.5em;
  }
}
@media screen and (min-width: 2500px) {
  .coeur-pleinmenu {
    right: 1em;
  }
}

#heart1, #heart2, #heart3, #heart4, #heart5, #heart6, #heart7, #heart8 {
  visibility: hidden;
}

/*loader spinner*/
.loader span {
  width: 4em;
  height: 4em;
  border-radius: 100%;
  margin: 0em 1em 0em 1em;
  display: inline-block;
}
.loader span:nth-child(1) {
  background-color: #9356DC;
  animation: loader 1s ease-in-out forwards infinite;
}
.loader span:nth-child(2) {
  background-color: #FF79DA;
  animation: loader 1s ease-in-out 0.3s forwards infinite;
}
.loader span:nth-child(3) {
  background-color: #99E2D0;
  animation: loader 1s ease-in-out 0.6s forwards infinite;
}

.container {
  animation: container 3.6s ease-in-out forwards;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*apparition des menus en décalage*/
.entree {
  animation: menu 1s ease-in-out forwards;
}

.plat {
  animation: menu 1s ease-in-out 0.6s both;
}

.dessert {
  animation: menu 1s ease-in-out 0.9s both;
}

/*cloche et check*/
.check {
  color: white;
  border-radius: 100%;
  overflow: hidden;
  font-size: 3.5em;
}

.cloche {
  background-color: #99E2D0;
  display: flex;
  width: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 0em 2.5em 2.5em 0em;
}

.menu__element:active .cloche {
  animation: cloche 1s forwards;
}
.menu__element:active .cloche > .check {
  animation: check 1s forwards;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
