@font-face {
  font-family: "robotoregular";
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff2") format("woff2"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/shrikhand-v6-latin-regular.eot");
  src: local(""), url("../fonts/shrikhand-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/shrikhand-v6-latin-regular.woff2") format("woff2"), url("../fonts/shrikhand-v6-latin-regular.woff") format("woff"), url("../fonts/shrikhand-v6-latin-regular.ttf") format("truetype"), url("../fonts/shrikhand-v6-latin-regular.svg#Shrikhand") format("svg");
}
@font-face {
  font-family: "robotobold";
  src: url("../fonts/Roboto-Bold-webfont.eot");
  src: url("../fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold-webfont.woff2") format("woff2"), url("../fonts/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("../fonts/Roboto-Light-webfont.eot");
  src: url("../fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light-webfont.woff2") format("woff2"), url("../fonts/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "robotoregular", arial, "sans serif";
}

body, html {
  margin: 0;
  padding: 0;
}

.h2--font {
  font-family: "Shrikhand", "impact";
  font-size: 4.7em;
  padding: 0.8em 0em 0em 0.6em;
  margin-bottom: 0em;
}

header {
  width: 100%;
  text-align: center;
}

#logo {
  width: 47%;
  padding: 2em 0em 1em 0em;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
}
footer img {
  width: 17em;
  margin: 3em 0em 0em 5em;
}
footer a {
  color: white;
}
footer ul {
  list-style-type: none;
  font-size: 2.7em;
}
footer li {
  margin: 0em 0em 0.3em 1em;
}

#map {
  background-color: #EAEAEA;
  box-shadow: inset 0 3px 5px -5px #2c2c2c;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.9em;
}
#map p {
  margin-left: 0.9em;
}

.btn {
  height: 2.7em;
  width: 65%;
  border-radius: 4.5em 4.5em 4.5em 4.5em;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 3em;
  border: white;
  margin: 0.9em 0em 2.9em 0em;
  box-shadow: 0em 0.4em 0.9em -0.5em #2c2c2c;
}
.btn:hover {
  height: 2.7em;
  width: 65%;
  border-radius: 4.5em 4.5em 4.5em 4.5em;
  background: linear-gradient(#FAAFE5, #A77ED9);
  color: white;
  font-size: 3em;
  border: white;
  margin: 0.9em 0em 2.9em 0em;
  box-shadow: 0em 1.5em 1.9em -0.8em #2c2c2c;
}

.menu__button {
  text-align: center;
  margin: 4em 0em 0em 0em;
}

h1 {
  font-size: 3.9em;
  padding: 0em 2em 0em 2em;
  margin: 0;
}

#presentation {
  background-color: #F6F6F6;
  padding-top: 2em;
}
#presentation p {
  color: #7E7E7E;
  font-size: 3.3em;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav h2 {
  font-size: 3.8em;
  left: 1em;
  align-self: flex-start;
  margin: 1.5em 0em 0.5em 1em;
}

.nav__fonctionnement {
  height: 4em;
  width: 21em;
  box-shadow: 0.2em 0.4em 0.3em #EAEAEA;
  background: #F6F6F6;
  border-radius: 1.1em;
  margin: 1em 0em 1em 0em;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: left;
}
.nav__fonctionnement i {
  margin: 0em 1em 0em 1.7em;
  color: #7E7E7E;
  font-size: 1.3em;
}

.number {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1.2em;
}

#accueil {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 8em;
  margin: 9em 0em -6em 0em;
}
#accueil h2 {
  font-size: 3.8em;
  left: 1em;
  align-self: flex-start;
  margin: 1.5em 0em 0.5em 1em;
}
#accueilimg {
  width: 20em;
}

.restaurant__card--tag {
  background-color: #99e2d0;
  color: #189576;
  width: 5em;
  position: absolute;
  font-size: 3em;
  text-align: center;
  top: 0.8em;
  right: 0.8em;
  border-radius: 0.2em;
}

.restaurant__card {
  background-color: white;
  width: 90%;
  height: 41em;
  border-radius: 2.1em;
  margin: 1em 0em 3em 0em;
  box-shadow: 0.2em 0.4em 0.3em #EAEAEA;
  position: relative;
}
.restaurant__card img {
  width: 100%;
  height: 28em;
  border-radius: 2.1em 2.1em 0em 0em;
  object-fit: cover;
}
.restaurant__card h3 {
  font-size: 3.5em;
  font-family: "robotobold";
  margin: 0.5em 0em 0em 0.8em;
}
.restaurant__card p {
  font-size: 2.7em;
  margin: 0.2em 0em 0em 1em;
}

a {
  text-decoration: none;
}

.fa-hands-helping:before {
  margin-right: 0.55em;
}

.fa-utensils:before {
  margin-right: 1em;
}

/*La palette du gout*/
.fa-arrow-left:before {
  position: absolute;
  font-size: 4em;
  left: 1em;
  top: 0.75em;
}

main img {
  width: 100%;
  margin: 1em 0em -1em 0em;
}

.section__menu {
  position: relative;
  background-color: #F6F6F6;
  width: 100%;
  border-radius: 4em 4em 0em 0em;
  margin-top: -12em;
  display: flex;
  flex-direction: column;
}
.section__menu h3 {
  font-family: "robotolight";
}

.menu__title {
  margin: 6em 0em 3em 3em;
}
.menu__title--underline {
  border-top: 11px solid #99E2D0;
  width: 9em;
}

.menu__element {
  background-color: white;
  border-radius: 2em;
  box-shadow: 0.2em 0.4em 0.3em #EAEAEA;
  width: 90%;
  margin: auto;
}
.menu__element__description {
  display: flex;
  align-items: center;
  font-size: 2.7em;
  margin: -1em 0em 0em 0em;
}
.menu__element__description p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "robotolight";
  width: 16em;
}
.menu__element__description__price {
  position: absolute;
  right: 2.5em;
}

h4 {
  font-size: 0.9em;
}

/*animations*/
.coeur {
  position: absolute;
  right: 1em;
  bottom: 1.2em;
  font-size: 4.2em;
  color: #7e7e7e;
}

.coeur-plein {
  position: absolute;
  font-size: 4.2em;
  right: 1em;
  bottom: 1.2em;
  background-image: linear-gradient(10deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 100;
  opacity: 0;
  transition: opacity 400ms;
}
.coeur-plein:active {
  opacity: 1;
}

#heart1, #heart2, #heart3, #heart4 {
  position: absolute;
  left: 999em;
}

/*# sourceMappingURL=style.css.map */
