@import "./utils/utils.scss";
@import "./base/base.scss";
@import "./layouts/layouts.scss";

#map{
    background-color: $color-background-darken;
    box-shadow: inset 0 3px 5px -5px #2c2c2c;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.9em;
    @media screen and (min-width: 1024px){
        font-size: 1.9em;
        height: 2em;
    } 
    p{
        margin-left: 0.9em;
    }
}

.btn{
    @include btn;
    margin-bottom: 1em;
    @media screen and (min-width: 1024px){
        font-size: 1.3em
    }
    @media screen and (min-width: 2500px){
        font-size: 2.3em;
    }
    
    &:hover{
        @include btnhover;
        margin-bottom: 1em;
        @media screen and (min-width: 1024px){
            font-size: 1.3em;
        }
        @media screen and (min-width: 2500px){
            font-size: 2.3em;
        }
    }
}

.menu__button{
    text-align: center;
    margin: 4em 0em 0em 0em;
    margin: auto;
}

#presentation{
    background-color: $color-background;
    & h1{
        font-size: 3.5em;
        padding: 1em 3em 0em 3em;
        margin: 0;
        @media screen and (min-width: 1024px){
            font-size: 2.5em;
        }
    }
    & p{
        color: #7E7E7E;
        font-size: 1.91em;
        margin: 1em 1.9em 0em 1.9em;
    }
}

nav{
    display: flex;
    flex-direction: column; 
    align-items: center;
    @media screen and (min-width: 1024px){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    h2{
        font-size: 3.5em;
        left: 1em;
        align-self:flex-start;
        margin: 1.5em 0em 0.5em 1em;
        @media screen and (min-width: 1024px){
            width: 100%;
            font-size: 1.8em;
        }
    }
}

.nav__fonctionnement{
    height: 5em;
    width: 21em;
    @include box-shadow;
    background: $color-background;
    border-radius: 1.1em;
    margin: 1em 0em 1em 0em;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'robotobold';
    &:hover{
        background-color:#f5edff;
    }
    @media screen and (min-width: 1024px){
        width: 30%;
        font-size: 1em;
        position: relative;
        justify-content: center;
    }
    @media screen and (min-width: 2500px){
        font-size: 2em;
    }
    i{
        margin: 0em 1em 0em 1.7em;
        color: #7E7E7E;
        font-size: 1.3em;
        @media screen and (min-width: 1024px){
            margin: 0em 0.5em 0em 0.7em;
        }
    }
}

.number{
    color: white;
    background-color: $color-primary;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1.2em;
    @media screen and (min-width: 1024px){
        top: -1em;
        left: 50%;
    }
}

#accueil{
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 8em;
    margin: 9em 0em -6em 0em;
    @media screen and (min-width: 1024px){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 2em 0em -9em 0em;
    } 
    h2{
        font-size: 3.8em;
        left: 1em;
        align-self:flex-start;
        margin: 1.5em 0em 0.5em 1em;
        @media screen and (min-width: 1024px){
            width: 100%;
            margin: 0.2em 0em 0.2em 0em;
            text-align: center;
            font-size: 2.8em;
        }
    }
    &img{
        width: 20em;
    }   
}

.restaurant__card--tag{
    background-color: #99e2d0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #189576;
    width: 5em;
    height: 2em;
    position: absolute;
    font-size: 2.5em;
    font-family: 'robotobold';
    top: 0.8em;
    right: 0.8em;
    border-radius: 0.2em;
    @media screen and (min-width: 1024px){
        font-size: 1em;
        height: 1.5em;  
    }
    @media screen and (min-width: 2500px){
        font-size: 2em;
    }
}

.restaurant__card{
    background-color: white;
    width: 90%;
    height: 41em;
    border-radius: 2.1em;
    margin: 1em 0em 3em 0em;
    box-shadow: 0.2em 0.4em 0.3em $color-background-darken;
    position: relative;
    @media screen and (min-width: 1024px){
        width: 22%;
        height: 17em;
        } 
        @media screen and (min-width: 2560px){
            width: 40%;
            height: 34em;
        }
    img{
        width: 100%;
        height: 28em;
        border-radius: 2.1em 2.1em 0em 0em;
        object-fit: cover;
        @media screen and (min-width: 1024px){
            height: 11em;
        }
        @media screen and (min-width: 2560px){
            height: 27em;
        }
    }
    h3{
        font-size:3.5em;
        font-family: 'robotobold';
        margin: 0.5em 0em 0em 0.8em;
        @media screen and (min-width: 1024px){
            text-align: left;
            margin: 0em 0em -0.5em 0.3em;
            font-size: 1.5em;
        } 
        @media screen and (min-width: 2560px){
            font-size: 2.5em;
        }
    }
    p{
        font-size: 2.7em;
        margin: -0.3em 0em 0em 1em;
        @media screen and (min-width: 1024px){
            margin: -0em 0em 0em 0.5em;
            font-size: 1em;
        } 
        @media screen and (min-width: 2560px){
            font-size: 2em;
        }
            & a:visited{
            color: #7E7E7E;
            }
        }  
}

a{
    text-decoration: none;
    &:visited{
        color: inherit;
    }
}


/*pages menu*/
@media screen and (min-width: 1024px){
    article{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 33%;
    }
}
@media screen and (min-width: 2560px){
    main{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}

.coeurtitre{
    margin-left: 1.5em;
}

.fa-arrow-left:before{
    position: absolute;
    font-size: 3.5em;
    left: 2em;
    top: 1.3em;
    @media screen and (min-width: 1024px){
        top: 0.6em;
    }
    
}
main img{
    width: 100%;
    height: 48em;
    border-radius: 3em 3em 0em 0em;
    margin: 1em 0em -1em 0em;
    object-fit: cover;
    @media screen and (min-width: 1024px){
        height: 33em;
    }
    @media screen and (min-width: 2560px){
        width: 41em;
        margin: 0em 2em 0em 2em;
        border-radius: 2em 2em 2em 2em;
        height: 44.5em;
    }
}

.section__menu{
    position: relative;
    background-color: $color-background;
    width: 100%;
    border-radius: 7em 7em 0em 0em;
    margin-top: -12em;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1024px){
        flex-direction: row;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 2500px){
        flex-direction: row;
        flex-wrap: wrap;
        margin-top:0;
        border-radius: 2em;
        margin-right: 2em;
        background-color: white;
    }
    & h2{
        font-family: 'robotolight';
        font-size: 2.5em;
        @media screen and (min-width: 1024px){
            font-size: 1.5em;
        }
        @media screen and (min-width: 2560px){
            font-size: 1.8em;
        }
    }
}

.menu__title{
    margin: 6em 0em 0em 3em;
    @media screen and (min-width: 1024px){
        margin: 0;
    }
    &--underline{
        border-top: 9px solid $color-tertiary;
        width: 6.5em;
        margin: -1.3em 0em 2em 0em;
        @media screen and (min-width: 1024px){
            border-top: 3px solid $color-tertiary;
            width: 3.8em;
        }
    }
}

.menu__element{
    background-color: white;
    border-radius: 2.5em;
    @include box-shadow;
    width: 90%;
    margin: auto;
    margin-bottom: 2.5em;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    @media screen and (min-width: 1024px){
        height: 6em;
        width: 96%;
        margin-bottom: 1em;
    }
    &__texte{
        display:flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;
        @media screen and (min-width: 1024px){
            padding: 0.5em 0em 0.2em 0.7em;
        }
    }
    &__price{
        margin: 0em 1em 1em 0em;
        font-weight: bold;
        font-size: 2.5em;
        @media screen and (min-width: 1024px){
            font-size: 1.3em;
        }
    }
}

.menu__element__description{
    display: flex;
    align-items: center;
    & p{
        flex-grow:1;
        font-size: 2.5em;
        margin: 0.2em 0em 0.8em 0.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: 'robotolight';
        @media screen and (min-width: 1024px){
            font-size: 1em;
        }
        @media screen and (min-width: 2560px){
            font-size: 1.5em;
        }
    }
}

.menu__element__texte h3{
    font-size: 2.8em;
    margin: 0em 0em 0em 0.5em;
    padding-top: 0.5em;
    font-family: 'robotobold';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media screen and (min-width: 1024px){
        padding: 0em 0em 1.5em 0em;
        font-size: 1.3em;
    }
    @media screen and (min-width: 2560px){
        font-size: 1.7em;
    }
}

/*animations*/

/*coeur accueil*/
.coeur{
    position: absolute;
    right: 1em;
    bottom: 1.2em;
    font-size: 4.2em;
    color: #7e7e7e;
    cursor: pointer;
    @media screen and (min-width: 1024px){
        right: 0.5em;
        bottom: 1em;
        font-size: 1.8em;
    }
    @media screen and (min-width: 2560px){
        font-size: 2.8em;
    }
}

.coeur-plein{
    position: absolute;
    font-size: 4.2em;
    right: 1em;
    bottom: 1.2em;
    cursor: pointer;
    @include coeur;
    @media screen and (min-width: 1024px){
        right: 0.5em;
        bottom: 1em;
        font-size: 1.8em;
    }
    @media screen and (min-width: 2560px){
        font-size: 2.8em;
    }
}

/*coeur menu*/
.coeurmenu{
    position: absolute;
    right: 1.5em;
    top: 1em;
    cursor: pointer;
    @media screen and (min-width: 1024px){
        right: 50%;
        top: 0.5em;
    }
    @media screen and (min-width: 2500px){
        right: 1em;
    }
}

.coeur-pleinmenu{
    @include coeur;
    position: absolute;
    right: 1.5em;
    top: 1em;
    cursor: pointer;
    @media screen and (min-width: 1024px){
        right: 50%;
        top: 0.5em;
    }
    @media screen and (min-width: 2500px){
        right: 1em;
    }
}

#heart1, #heart2, #heart3, #heart4, #heart5, #heart6, #heart7, #heart8{
    visibility: hidden;
}

/*loader spinner*/
.loader{
    & span{
        width: 4em;
        height: 4em;
        border-radius: 100%;
        margin: 0em 1em 0em 1em;
        display: inline-block;
        &:nth-child(1){
            background-color: $color-primary;
            animation: loader 1s ease-in-out forwards infinite;
        }
        &:nth-child(2){
            background-color: $color-secondary;
            animation: loader 1s ease-in-out 0.3s forwards infinite;
        }
        &:nth-child(3){
            background-color: $color-tertiary;
            animation: loader 1s ease-in-out 0.6s forwards infinite;
        }
    }
}

.container{
    animation: container 3.6s ease-in-out forwards;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    background-color: rgba(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*apparition des menus en décalage*/

.entree{
    animation: menu 1s ease-in-out forwards;
}

.plat{
    animation: menu 1s ease-in-out 0.6s both;
}

.dessert{
    animation: menu 1s ease-in-out 0.9s both;
}

/*cloche et check*/
.check{
    color: white;
    border-radius: 100%;
    overflow: hidden;
    font-size: 3.5em;
}

.cloche{
    background-color: $color-tertiary;
    display: flex;
    width: 0;
    overflow: hidden; 
    align-items: center;
    justify-content: center;
    border-radius: 0em 2.5em 2.5em 0em;
}

.menu__element:active .cloche{
   animation: cloche 1s forwards;
   >.check{
       animation: check 1s forwards;
       overflow: hidden;   
   }
}

