@import "./utils/utils.scss";
@import "./base/base.scss";
@import "./layouts/layouts.scss";
@import "./mediaqueries/mediaqueries.scss";

#map{
    background-color: $color-background-darken;
    box-shadow: inset 0 3px 5px -5px #2c2c2c;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.9em;
    p{
        margin-left: 0.9em;
    }
}

.btn{
    @include btn;
    &:hover{
        @include btnhover;
    }
}

.menu__button{
    text-align: center;
    margin: 4em 0em 0em 0em;
}

h1{
    font-size: 3.5em;
    padding: 1em 3em 0em 3em;
    margin: 0;
}

#presentation{
    background-color: $color-background;
    p{
        color: #7E7E7E;
        font-size: 1.71em;
        margin: 1em 1.9em 0em 1.9em;
    }
}

nav{
    display: flex;
    flex-direction: column; 
    align-items: center;
    h2{
        font-size: 3.5em;
        left: 1em;
        align-self:flex-start;
        margin: 1.5em 0em 0.5em 1em;
    }
}

.nav__fonctionnement{
    height: 4em;
    width: 21em;
    @include box-shadow;
    background: $color-background;
    border-radius: 1.1em;
    margin: 1em 0em 1em 0em;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'robotobold';
    i{
        margin: 0em 1em 0em 1.7em;
        color: #7E7E7E;
        font-size: 1.3em;
    }
}


.number{
    color: white;
    background-color: $color-primary;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1.2em;
}

#accueil{
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 8em;
    margin: 9em 0em -6em 0em;
    h2{
        font-size: 3.8em;
        left: 1em;
        align-self:flex-start;
        margin: 1.5em 0em 0.5em 1em;
    }
    &img{
        width: 20em;
    }
}

.restaurant__card--tag{
    background-color: #99e2d0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #189576;
    width: 5em;
    height: 2em;
    position: absolute;
    font-size: 2.5em;
    font-family: 'robotobold';
    top: 0.8em;
    right: 0.8em;
    border-radius: 0.2em;

}
.restaurant__card{
    background-color: white;
    width: 90%;
    height: 41em;
    border-radius: 2.1em;
    margin: 1em 0em 3em 0em;
    box-shadow: 0.2em 0.4em 0.3em $color-background-darken;
    position: relative;

    img{
        width: 100%;
        height: 28em;
        border-radius: 2.1em 2.1em 0em 0em;
        object-fit: cover;
    }
    h3{
        font-size:3.5em;
        font-family: 'robotobold';
        margin: 0.5em 0em 0em 0.8em;
    }
    p{
        font-size: 2.7em;
        margin: -0.3em 0em 0em 1em;
        & a:visited{
            color: #7E7E7E;
        }
    }
}

a{
    text-decoration: none;
    &:visited{
        color: inherit;
    }
}

.fa-hands-helping:before{
    margin-right: 0.55em;
}

.fa-utensils:before{
    margin-right: 1em;
}
/*pages menu*/

.coeurtitre{
    margin-left: 1.5em;
}

.fa-arrow-left:before{
    position: absolute;
    font-size: 4em;
    left: 1em;
    top: 0.75em;
}
main img{
    width: 100%;
    margin: 1em 0em -1em 0em;
}

.section__menu{
    position: relative;
    background-color: $color-background;
    width: 100%;
    border-radius: 7em 7em 0em 0em;
    margin-top: -12em;
    display: flex;
    flex-direction: column;
    & h2{
        font-family: 'robotolight';
        font-size: 1em;
    }
}

.section__menu h3{
    margin: 3em 0em 0em 0em;
    padding-top: 2em;
    font-family: 'robotobold'; 
}

.menu__title{
    margin: 6em 0em 3em 3em;
    &--underline{
        border-top: 6px solid $color-tertiary;
        width: 8em;
    }
}

.menu__element{
    background-color: white;
    border-radius: 2.5em;
    @include box-shadow;
    width: 90%;
    margin: auto;
    cursor: pointer;
    padding-left: 1.5em;
    &__price{
        position: absolute;
        right: 1.5em;
        font-weight: bold;
      
    }
    &__description{
        display: flex;
        align-items: center;
        font-size: 2.7em;
        margin: -0.9em 0em 0em 0em;
        & p{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: 'robotolight';
            width: 16em;
        }
    }   
}

h3{
    font-size: 0.9em;
}

/*animations*/

/*coeur*/
.coeur{
    position: absolute;
    right: 1em;
    bottom: 1.2em;
    font-size: 4.2em;
    color: #7e7e7e; 
}

.coeur-plein{
    position: absolute;
    font-size: 4.2em;
    right: 1em;
    bottom: 1.2em;
   background-image: linear-gradient(10deg, $color-secondary, $color-primary);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   z-index: 100;
   opacity: 0;
   transition: opacity 400ms;
   &:active{
    opacity: 1;
   }
}
#heart1, #heart2, #heart3, #heart4{
    visibility: hidden;
}

/*loader spinner*/
.loader{
    & span{
        width: 4em;
        height: 4em;
        border-radius: 100%;
        margin: 0em 1em 0em 1em;
        
        display: inline-block;
        &:nth-child(1){
            background-color: $color-primary;
            animation: loader 1s ease-in-out forwards infinite;
        }
        &:nth-child(2){
            background-color: $color-secondary;
            animation: loader 1s ease-in-out 0.3s forwards infinite;
        }
        &:nth-child(3){
            background-color: $color-tertiary;
            animation: loader 1s ease-in-out 0.6s forwards infinite;
        }
    }
}

.container{
    animation: container 3.6s ease-in-out forwards;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    background-color: rgba(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*apparition des menus en décalage*/

.entree{
    animation: menu 1s ease-in-out forwards;
}

.plat{
    animation: menu 1s ease-in-out 0.6s both;
}

.dessert{
    animation: menu 1s ease-in-out 0.9s both;
}

/*cloche et check*/
.check{
    color: white;
    border-radius: 100%;
    overflow: hidden;
    font-size: 3.5em;
}

.cloche{
    background-color: $color-tertiary;
    height: 100%;
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    width: 18%;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 0em 2.5em 2.5em 0em;
    transform-origin: right;
}

.menu__element:active .cloche{
   animation: cloche 1s forwards;
   >.check{
       animation: check 1s forwards;
       overflow: hidden;   
   }
}

