@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shrikhand';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/shrikhand-v6-latin-regular.eot');
    src: local(''),
         url('../fonts/shrikhand-v6-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/shrikhand-v6-latin-regular.woff2') format('woff2'),
         url('../fonts/shrikhand-v6-latin-regular.woff') format('woff'),
         url('../fonts/shrikhand-v6-latin-regular.ttf') format('truetype'),
         url('../fonts/shrikhand-v6-latin-regular.svg#Shrikhand') format('svg');
  }

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'robotoregular', arial, "sans serif";
}

body, html{
    margin: 0;
    padding: 0;
}

.h1--font{
    font-family: 'Shrikhand', "impact";
    font-size: 4.3em;
    padding: 0.8em 0em 0em 0.6em;
    margin-bottom: 0em;
}
