$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #F6F6F6;
$color-background-darken: #EAEAEA;
$color-button: linear-gradient($color-secondary, $color-primary);

@mixin box-shadow{
    box-shadow: 0.2em 0.5em 1em #cecece;
}
@mixin btn{
    height: 2.7em;
    width: 65%;
    border-radius: 4.5em 4.5em 4.5em 4.5em;
    background: $color-button;
    color: white;
    font-size: 3em;
    border: white;
    margin: 0.9em 0em 2.9em 0em;
    box-shadow: 0em 0.4em 0.9em -0.5em #2c2c2c;
}
@mixin btnhover{
    height: 2.7em;
    width: 65%;
    border-radius: 4.5em 4.5em 4.5em 4.5em;
    background: linear-gradient(#FAAFE5, #A77ED9);
    color: white;
    font-size: 3em;
    border: white;
    margin: 0.9em 0em 2.9em 0em;
    box-shadow: 0em 1.5em 1.9em -0.8em #2c2c2c;
    cursor: pointer;
}
@mixin coeur{
    background-image: linear-gradient(10deg, $color-secondary, $color-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 100;
    opacity: 0;
    transition: opacity 400ms;
    &:active{
     opacity: 1;
    }
}
/*keyframes des animations*/
@keyframes container{
    0%{
        opacity: 1;
    }
    98%{
        opacity: 0.9;
    }
    99%{
        opacity: 0.95;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes loader{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(7em);
    }  
}

@keyframes menu{
    0%{
        transform: translateY(2em);
        opacity: 0;
    }
    75%{
        opacity: 0.4;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes check{
    0%{
        transform: rotate(0deg); 
    }
    100%{
        transform: rotate(360deg); 
    }
}

@keyframes cloche{
    0%{
        width: 0;
    }
    100%{
        width: 9em;
    }
}