header{
    width: 100%;
    text-align: center; 
}

#logo{
    width: 47%;
    padding: 4em 0em 1em 0em;
    @media screen and (min-width: 1024px){
        width: 26%;
        padding-top: 1.5em;
    } 
}

footer{
    background-color: #353535;
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    @media screen and (min-width: 1024px){
        align-items: center;
    }
    img{
        width: 17em;
        margin: 3em 0em 0em 5em;
        @media screen and (min-width: 1024px){
            width: 23em;
            margin: 1em 0em 0em 0em;
        }
    }
    a{
        color: white;
    }
    ul{
        list-style-type: none;
        font-size: 2.7em;
        @media screen and (min-width: 1024px){
            display: flex;
            font-size: 1.8em;
            padding: 0;
            margin-top: 0;
        }
        @media screen and (min-width: 2560px){
            font-size: 2.8em;
        }
    }
    li{
        margin: 0em 0em 0.3em 1em;
        @media screen and (min-width: 1024px){
            margin: 1em 1em 0.3em 1em;
            padding-right: 1em;
            border-right: 2px solid white;
            text-align: left;
        }
    }
}

.fa-hands-helping:before{
    margin-right: 0.55em;
}

.fa-utensils:before{
    margin-right: 1em;   
}

.h1--font{
    font-family: 'Shrikhand', "impact";
    font-size: 4.3em;
    padding: 0.8em 0em 0em 0.6em;
    margin-bottom: 0em;
    @media screen and (min-width: 1024px){
        font-size: 3.3em;
        text-align: center;
        padding: 0.8em 0em 0em 0em;
    }
}