header{
    width: 100%;
    text-align: center; 
}

#logo{
    width: 47%;
    padding: 2em 0em 1em 0em;
}

.btn{
    height: 2.7em;
    width: 65%;
    border-radius: 4.5em 4.5em 4.5em 4.5em;
    background: linear-gradient(#ea72da, #9356dc);
    color: white;
    font-size: 3em;
    border: white;
    margin: 0.9em 0em 2.9em 0em;
}

